@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --border: #eaeaea;
    --card: #f7f7f8;
    --text: #333333;
    --muted-foreground: #666666;
  }
  .dark {
    --background: #000000;
    --foreground: #eaeaea;
    --border: #333333;
    --card: #111111;
    --text: #d1d5db;
    --muted-foreground: #a1a1a1;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}

input,
button,
textarea {
  background-color: var(--card);
  color: var(--text);
  border: 1px solid var(--border);
}

input::placeholder {
  color: var(--muted-foreground);
}

button:hover {
  background-color: var(--border);
}

h1,
h2,
h3 {
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .card {
    background-color: var(--card);
    border-color: var(--border);
    color: var(--text);
  }

  a {
    background-color: var(--link);
    color: var(--link-text);
  }

  main {
    @apply container mx-auto p-4;
  }
}
